              /*    BORDEL*/
.container {
  padding:0 5px;
}

body {
  background-color: #D2D2D2;
  font-family:'Arimo', sans-serif;
}

img{
  max-width: 1500px;
  max-height: 1500px;
}
h1, h2, h3{
  font-family: 'Bitter', serif; 
}

/*------------HOME-------------*/
.home-title {
  text-align: center;
}
.home h3{
  margin:10px 0 0 0;
  text-align: center;
}
.home h3 a {
  color : #222222;
}
.home h3 a:hover {
  text-decoration: none;
  color:#337AB7;
}

.home-img img {

}
.separateur {
  height:1px;
  width:30px;
  background: #337AB7;
  margin: 15px auto ;
}
.separateur-title {
  height:1px;
  width:100px;
  background: #337AB7;
  margin: 15px auto 25px auto;
}
.separateur-membre {
  height:1px;
  width:30px;
  background: #D2D2D2;
  margin: 15px auto ;
}
.home-category {
  text-transform: uppercase;
  margin:10px 0 0 0;
  text-align: center;
  font-size: 1.2rem;
  color:#337AB7;
}
.home-date {
  text-align: center;
  color:#737373;
}
.fa-calendar, .fa-bookmark {
  color:#444444;
  padding-right: 5px;
  font-size: 10px;
}
}
.post {
 height:300px;
  overflow: hidden;
} 
.post-member {
  height:170px;
}
.home-img {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
}
.overlay {
  background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: all .3s ease-in-out .3s;
    z-index: 1;
    overflow: hidden;
}
.overlay-title {
    padding: 0 30px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: -50%;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase; 
  transition: all .3s ease-in-out .3s;
  z-index: 2;
}
.overlay-title h3 {
   font-size: 2rem;
}
.home-img:hover .overlay {
    opacity: 1;
}
.home-img:hover .overlay-title {
    top:50%;
    margin-top: -25px;
}

.last-member {
  padding-bottom: 30px;
}
.last-member h3{
  font-size: 15px;
  margin-top: 0;
}
.member-date {
  font-weight: lighter;
  font-size: 11px;
}
.member-date span {
  font-weight: bold;
}



            /*  NAVBAR*/
.navbar {
  border-radius: 0;
}
.navbar .navbar-brand {
  font-weight: bold;
  color:#fff;
}
.navbar .navbar-right {
  padding-left: 100px;
}
.dropdown-menu {
  padding: 10px 10px;
}
.dropdown-menu .lien-profil{
  display:block;
  padding-bottom: 10px;
}
.dropdown-menu .form-signin h2 {
  font-size: 2rem;
}
.dropdown-menu .form-signin input {
  border-radius: 0;
}
.dropdown-menu .form-signin button {
  border-radius: 0;
}
.register a {
  font-weight: bold;
  color: #FF7500;
}
.login {
  text-transform: uppercase;
  color: #5BC0DE;
}

              /*user list*/
.list_user{
  margin-top: 40px;
 
}
table{
  width: 100%
}

.list_user tr{
  padding: 0;
  
}

.list_user td{
  overflow: hidden;
  width: 100%;
}
.list_user tr td {
  text-decoration: none;
  list-style: none;
  padding: 8px 0 8px 10px;
  border-bottom: 2px solid #D6D6D6;
  display: block;
}




.list_user button{
  padding: 0 20px;
  margin-left: 20px;
}

.list_user .nbr{
  padding: 5 20px;


}
.list_user .login_pos{
  
  display: inline-block;
  width: 30%;
  
  
  
  }
  .list_user .login_post{
  
  display: inline-block;
  width: 14%;
  
  
  
  }
  .list_user .top ul {
    padding: 0 0 0 10px;
    margin-bottom: 20px;
  }
  .list_user .top ul li{
   display: inline-block;
    font-weight: bold;
  }
  .list_user .top ul .pseudos{
    width: 25%;
  }

.list_user .top ul .nb_article{
  width: 19%
}

.list_user select{
  display: inline-block;
  width:113px;
  height: 31px;
  margin-left: 35px;
  
} 
.list_user form{
  display: inline-block;
}



/*------------page profil-------------*/
.aside {
  padding:0;
  margin-top:20px;
}
.aside img {
  width:100%;
}

.label-profil{
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
.btn-edit{
  padding: 14px 0;
}

.btn-edit .btn a {
  color: #fff;
}

.btn-edit .btn a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-profil {
  padding: 0;
}

.btn-mp {
  display: block;
  padding: 0;
}
.btn-info {
  margin:5px 0;
  border-radius: 0;
}
.p-left {
  margin-top: 20px;
}
.p-left h2 {
 margin-top: 0;
}
.p-right {
  padding:45px 0;
}

/* ---------------    MESSAGE PRIVE  -------------   */
.mp{
  background: #fff;
  padding: 5px;
  min-height: 80px;
  border: 1px solid #337AB7;
}
.title-mp{
  font-size: 20px;
  

}
.title-New-mp{
  color: #000;
  
}
.btn-primary a{
  color: #fff;
}

           /*   ARTICLES*/

.champ-com{
background: #fff;
padding: 10px;
}
.article-com fieldset {
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 10px;
}

.titre-article {
  margin: 0;
}           
.sous-titres h4 {
  display: inline-block;
  padding:10px 10px 30px 0;
  margin: 0
}

.titre-note {
  color:#000;
  font-weight: bold;
}
.select-note {
  color:#000;
  background: #fff;
  display: inline-block;
}
.select-note:hover {
  color:#000;
  background: #fff;
}

.select-note:active {
  color:#000;
  background: #fff;
}

.note-valid {
  padding-top: 24px;
}
.note-select {
  padding: 0;
}
.article-back {
  padding: 0;
}

/*-------------------NEW ARTICLE--------------------*/

.new-article {
  margin: 0 auto;
  padding: 0;
}

          /*  COMMENTAIRE*/

.com{

}

.auteurCom{
  color:#337AB7;
}

.contentCom{
  font-size: 1.3em;
  background-color: white;
  min-height: 80px;
  padding: 5px;
}
